{% extends 'index.html' %}
{% load crispy_forms_tags %}
{% block title %}Password Change Form{% endblock %}
{% block content %}
<div class="col-md-4" style="margin:1rem auto 0 auto;">
    <h5 class="h5-responsive" style="text-align: center;color: white;font-weight: bold;">Password Change Form</h5>
    <hr>
<form method="POST" style="color:white;font-weight: bold;">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" value="SignIn" class="btn peach-gradient" style="margin: 0 auto;display: block;margin-top: 2px;">Submit</button>
</form>
</div>
{% endblock %}